<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rollover.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,60},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_blue_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,60},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,180},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_green_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_pink.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,120},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_pink_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,120},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_red_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,0},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>rollover_yellow_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>rollover_sprites.png</string>
			</dict>
		</dict>
</plist>